* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  position: absolute;
  border: 0px;
  padding: 18px 35px;
  color: #FFFFFF;
  font-size: 10px;
  border-radius: 5px;
  background: #FD6E0A;
  width: 160px;
  height: 64px;
  left: 1200px;
  top: 528px;
  font-weight: 700;
  font-size: 15px;
}

/* Banner Styles */
.banner {
  position: absolute;
  margin: 0 100px;
  display: flex;
}

.headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 300px;
}

.headline2 {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.main-text {
  position: absolute;
  width: 525px;
  height: 228px;
  left: 845px;
  top: 200px;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
  text-align: right;
}

.sub-text {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  width: 494px;
  height: 78px;
  left: 876px;
  top: 440px;
}

/* Failure 2nd page */
.failure {
  background: url(ff.png);
  position: absolute;
  width: 416px;
  height: 400px;
  left: 862px;
  top: 1178px;
  margin-bottom: 1700px;
}

.failure-person {
  margin-bottom: 130px;
  position: absolute;
  width: 569px;
  height: 723.3px;
  left: 206px;
  top: 939px;
  /* background: url(ff.png);
  margin: 130px;
  position: absolute;
  width: 569px;
  height: 723.3px; */
}

.failure-main {
  background: url(ff.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}

.failure-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

/* My planes */
.my-plans {
  
  position: absolute;
  top: 1792.3px;
  margin: 0 730px 0 730px;
  
}

.plans {
  display: flex;
  justify-items: center;
}

.plans-title{
  justify-content: center;
}
.plans-description {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
}

.plans {
  position: absolute;
  align-items: center;
}

.plans-item {
  justify-content: space-between;

}
/* Background */
.background{
  position: absolute;
}
.background-fig{
  position: absolute;
width: 459px;
height: 94px;
left: 294px;
top: 2275.3px;
color: #FFFFFF;
}
.background-info{
  top: 2275.3px;
  position: absolute;
  margin-left: 240px;
  
}
